/* #backgr-im{
    background-image: url(im2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    width: 80em;
    height: 600px;

} */

body{
    background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
    color: white;
}

.bilboard{
     background-color: rgb(28, 27, 36); 
    

    margin-bottom: 100px;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    border-bottom-left-radius: 0.2%;
    border-end-end-radius: 0.2%;

}
#myH1{
    font-weight: bolder;
    color: yellow;
    text-align: center;
    justify-content: center;
}

#h1-1{
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 0.5em; 
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-weight: 20em;
    font-size: 4em;
}
#h1-span{
    font-size: 25px;
    font-weight: lighter;
    /* font-family: 'Karla', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-style: italic;

}

#h1-2{
    text-align: center;
     font-family: 'Karla', sans-serif;  
    top: 10px;
    bottom: 10px;
    font-weight: lighter;
    
    

}


.mySection{
    justify-content: center;
   text-align: center;
    margin-top: 200px;
    width: 400px;
    height: 400px;
    
    
}

.card1{
    border: 2px solid;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 350px;
    height: 300px;
    
}

#myButton{
    margin-top: 3px;
    width: 100px;
    border-radius: 5%;
    background-color:#0d0d0e;
    background-image: linear-gradient(160deg, #0d0d0e 0%, #344543 50%, #2d9a2d 100%);
}

#myEnr{
    margin-top: 6px;
    width: 100px;
    border-radius: 5%;
    background-color:#0d0d0e;
    background-image: linear-gradient(160deg, #0d0d0e 0%, #344543 50%, #2d9a2d 100%);
}

#myTotal{
    margin-top: 30px;
    font-weight: bolder;
    font-size: large;
}

#myH1{
    position: relative;
    top: -616px;
    text-align: center;
}

#myCounter{
   
    position: relative;
    top: -160px;
}